<div class="profile-container">
    <h3 class="profile-name"><%= @user.name %></h3>
    <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class:"img-circle pull-left profile-img", fallback: "no_image.jpg" %>
    <!-- プロフィール画像を表示するよ！ -->
    <!-- アタッチメント_イメージ_タグの右のインスタンスには画像を格納しているカラムを持っているところのものを入れるよ！ -->
    <!-- プロファイル_イメージの部分には画像が格納されているカラムを指定するよ -->
    <!-- フィル以下は画像の大きさ、フォーマットで画像拡張子を指定しているよ -->
    <!-- クラス以下はエイチティーエムエルのクラスをレールズのタグ用に指定しているよ -->
    <!-- フォールバックは画像データがカラム内にない場合に表示される画像を指定しているよ -->
    <% if @user.id == current_user.id %>
        <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right" %></p>
    <% end %>
</div>

<%= render 'post_images/list', post_images: @post_images %>
